<form (submit)="onSubmit()" class="form-group w-50">
  <input
    name="oldPwd"
    type="password"
    placeholder="Enter Old Password"
    required
    class="form-control mt-3 mb-3"
    [(ngModel)]="oldPwd"
  />
  <input
    name="newPwd"
    type="password"
    placeholder="Enter New Password"
    required
    class="form-control mb-3"
    [(ngModel)]="newPwd"
  />
  <input
    name="confirmNewPwd"
    type="password"
    placeholder="Confirm New Password"
    required
    class="form-control mb-3"
    [(ngModel)]="confirmNewPwd"
  />
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>
