<div class="container formContainer">
  <h1 class="mb-3">Sign Up</h1>
  <form (submit)="onSubmit()" class="form-group">
    <label>First Name</label>
    <input
      name="firstName"
      type="text"
      placeholder="Enter First Name"
      required
      class="form-control mb-3"
      [(ngModel)]="user.fname"
    />
    <label>Last Name</label>
    <input
      name="lastName"
      type="text"
      placeholder="Enter Last Name"
      required
      class="form-control mb-3"
      [(ngModel)]="user.lname"
    />
    <label>Email</label>
    <input
      name="email"
      type="email"
      placeholder="Enter Email"
      required
      class="form-control mb-3"
      [(ngModel)]="user.mail"
    />
    <label>Password</label>
    <input
      name="password"
      type="password"
      placeholder="Enter password"
      required
      class="form-control mb-3"
      [(ngModel)]="user.pwd"
    />
    <label>Confirm Password</label>
    <input
      name="confirmPassword"
      type="password"
      placeholder="Confirm password"
      required
      class="form-control mb-3"
      [(ngModel)]="user.confirmPwd"
    />
    <label>Contact Number</label>
    <input
      name="contactNumber"
      type="text"
      placeholder="Enter Contact Number"
      required
      class="form-control mb-3"
      [(ngModel)]="user.phoneNo"
    />
    <button type="submit" class="btn btn-primary me-3">Register</button>
    <button type="button" class="btn btn-outline-primary" (click)="onCancel()">
      Cancel
    </button>
  </form>
</div>
